.App {
  text-align: center;
background-image: url('./assets/white.jpg');
  background-position:center;
  color: rgb(0, 0, 0);
  font-family: 'Montagu Slab', serif; 
  /* font-family: 'Caprasimo', cursive;
  font-family: 'Montserrat', sans-serif; */
}




.App-link {
  color: #000000;
}



/* Section headings */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Experience section */
#section-experience ul {
  list-style-type: none;
  padding-left: 0;
}

#section-experience li {
  margin-bottom: 20px;
}

#section-experience strong {
  font-weight: bold;
}

/* Skills section */
#section-skills ul {
  list-style-type: none;
  padding-left: 0;
}

#section-skills li {
  margin-bottom: 10px;
}

/* Resume section */
#section-resume p {
  margin-bottom: 10px;
}

#section-resume a {
  text-decoration: none;
  color: #007bff; /* Change color as desired */
}

/* Contact section */
#section-contact ul {
  list-style-type: none;
  padding-left: 0;
}

#section-contact li {
  margin-bottom: 10px;
}
/* Common styles for all card-like divs */






.introWords{
 
  display: flexbox;
  flex-direction: row;
padding: auto;
width:25%;
max-height: 25%;


}
.introPic{

height: 20%;
}

.skills{



padding: auto;


}
.exp{

background-color:white;
box-shadow: #fefefe;
padding: auto;




}

.contact{

 
  background-color:white;
  box-shadow: #fefefe;
  padding: auto;
  

}

.profile-image {
  width:35%;
  height:100%;
 box-shadow: #0a0a0a;
 z-index: 2;
  /* Add additional styles here */
}



