.App {
  text-align: center;
  background-image: url('./assets/white.jpg');
  background-position: center;
  color: rgba(0, 0, 0, 0.664);
  // font-family: 'Montagu Slab', serif; 
  font-family: 'Kurale', serif;
}
